*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding: 20px 30px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #729b7939;
}
/* 
.title{
   
} */

.subtitle{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.contenedor-menus{
    justify-content: center;
    align-items: center;
    background-color: #83A0A0;
    padding: 30px;
    width: fit-content;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    gap: 10px;
    font-weight: 500;
}

.contenedor-menus button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Sniglet';
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4C5F6B;
    cursor: pointer;
}

.contenedor-menus button:hover{
    color: aliceblue;
    background-color: #2B3D41;
}

.contenedor-menus button img{
    width: 25px;
    height: 25px;
}

.contenedor-opciones{
    display: flex;
    gap: 10px;
    
}

.contenedor-opciones div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-todo{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.contenedor-formulario{
    background-color: #83A0A0;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.campo-tarea-registrar{
    display: flex;
    gap: 20px;
}

.campo-tarea-button button{
    background-color: #2B3D41;
    border: none;
    border-radius: 10px;
    color: #FEEEFC;
    
}

.campo-tarea-button{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.campo-tarea-button button:hover{
    color: aliceblue;
    background-color: #2B3D41;
}

input{
    width: 250px;
    border-radius: 10px;
    background-color: #FEEEFC;
    border: none;
}

select{
    border-radius: 10px;
    border: none;
    background-color: #FEEEFC;
}

.contenedor-enlistar{
    background-color: #83A0A0;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.enlistar-titles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #1E1E1E;
    gap: 10px;
}

.enlistar-elementos{
    display: flex;
    gap: 10px;
    padding: 5px;
}

.enlistar-elementos-background{
    background-color: #FEEEFC;
    border-radius: 10px;
    border: none;
}

.botones-enlistar{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.enlistar-submenu button{
    background-color: #2B3D41;
    border: none;
    border-radius: 10px;
    color: #FEEEFC;
    padding: 5px;
}

.btn-salir-enlistar{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.enlistar-submenu button:hover{
    color: aliceblue;
    background-color: #2B3D41;

}

.contenedor-buscar{
    background-color: #83A0A0;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.buscar-campo{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #4C5F6B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.buscar-elementos{
    display: flex;
    gap: 10px;
    padding: 5px;
}

.buscar-elementos-background{
    background-color: #FEEEFC;
    border-radius: 10px;
    border: none;
}

.botones-buscar{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.buscar-submenu button{
    background-color: #2B3D41;
    border: none;
    border-radius: 10px;
    color: #FEEEFC;
    padding: 5px;
}

.btn-salir-buscar{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.buscar-submenu button:hover{
    color: aliceblue;
    background-color: #2B3D41;

}

.contenedor-cantidad{
    background-color: #83A0A0;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.cantidad-submenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FEEEFC;
    border: none;
    border-radius: 10px;
    margin: 15px;
}

.cantidad-title{
    color: #1E1E1E;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.cantidad-subtitle{
    color: #1E1E1E;
    font-size: 20px;
}

.botones-cantidad{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.botones-cantidad button{
    background-color: #2B3D41;
    border: none;
    border-radius: 10px;
    color: #FEEEFC;
    padding: 5px;
}

.btn-salir-cantidad{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.botones-cantidad button:hover{
    color: aliceblue;
    background-color: #2B3D41;

}

#label-prioridad-buscar {
    display: none;
}


.ocultar{
    display: none;
}
